.main_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 88px 80px 39px;
}

.main_content_wrap {
    display: flex;
    column-gap: 32px;
}

.main_chart_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: flex-end;
    width: 100%;
}

.main_chart_content_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 100%;
    max-width: 296px;
}

.page_title {
    margin-top: 12px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: var(--black);
}

.main_info_wrap {
    width: 100%;
    max-width: 296px;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.text_info_block {

}

.pomodors_block {

}
