.main_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.input {
    width: 100%;
    max-width: 340px;
    padding: 19px 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;

    background: var(--gray);
    color: var(--dark-gray);
    border: none;
}

.input::placeholder {
    color: var(--dark-gray);
}

.input:focus-visible {
    outline: none;
}

.label {

}

.button {

}

.main_wrap_notification {
    position: absolute;
    top: 80px;
    right: 20px;
    width: fit-content;
    padding: 9px 15px;

    background: var(--red);
    color: var(--white);
    border: 1px solid var(--red);
    border-radius: 10px;
}

.main_wrap_notification_visible {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.main_wrap_notification_hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
