.main_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    border-bottom: 1px solid var(--gray);
}

.task_info_wrap {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.pomodors {
    position: relative;
    width: 25px;
    height: 25px;

    border: 1px solid var(--gray-C4);
    border-radius: 100%;
}

.pomodors_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;

    color: var(--light-black3);
}

.task_text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;

    color: var(--light-black3);
}

.link_width {
    width: 100%;
}
