* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: var(--gray);
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: var(--light-green);
  border-radius: 5px;
  border: 3px solid var(--gray);
}

body {
  position: relative;
  height: 100vh;
  margin: 0;
  font-family: 'SF UI Display', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white: #FFF;
  --black: #000;
  --light-black3: #333333;
  --red: #DC3E22;
  --dark-red: #B7280F;
  --gray: #F4F4F4;
  --dark-gray: #999999;
  --gray-C4: #C4C4C4;
  --light-green: #A8B64F;
  --dark-green: #899441;
  /*filter: invert(100%);*/
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button:focus-visible {
  outline: none;
}

input:focus-visible {
  outline: none;
}

.primary_button {
  color: var(--white);
  background: var(--light-green);
  border: 2px solid var(--light-green)!important;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.primary_button:hover {
  background: var(--dark-green);
  border: 2px solid var(--dark-green)!important;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.primary_button:disabled {
  cursor: not-allowed;
  color: var(--gray-C4);
  background: none;
  border: 2px solid var(--gray-C4)!important;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.secondary_button {
  color: var(--red);
  border: 2px solid var(--red)!important;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.secondary_button:hover {
  color: var(--white);
  background: var(--red);
  border: 2px solid var(--red)!important;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.secondary_button:disabled {
  cursor: not-allowed;
  color: var(--gray-C4);
  background: none;
  border: 2px solid var(--gray-C4)!important;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.button {
  width: fit-content;
  padding: 19px 50px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
}

.cancel_btn {
  width: fit-content;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;

  background: none;
  color: var(--black);
  border: none;
  text-decoration: underline;
}

.cancel_btn:hover {
  cursor: pointer;
}

.main_wrap_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal_background {
  width: 100%;
  height: 100vh;
  background: var(--black);
  opacity: 0.3;
}

.main_wrap_notification {
  position: absolute;
  top: 80px;
  right: 20px;
  width: fit-content;
  padding: 9px 15px;

  background: var(--red);
  color: var(--white);
  border: 1px solid var(--red);
  border-radius: 10px;
}

.main_wrap_notification_visible {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.main_wrap_notification_hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
