.main_list_wrap {
    width: 100%;
    max-width: 525px;
    display: flex;
    flex-direction: column;
}

.rules_list {
    padding-left: 20px;
    list-style-type: inherit;
}

.list_title {
    margin-bottom: 3px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.rule {
    padding-left: 15px;
    color: var(--dark-red);
}

.rule_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    color: var(--black);
}
