.main_wrap {
    width: 100%;
    max-width: 370px;
}

.separate_line {
    width: 100%;
    height: 1px;
    background: var(--gray);
}

.list_of_items {
    width: 100%;
    max-height: 290px;
    padding-right: 25px;
    margin-bottom: 19px;
    overflow-y: overlay;
}

.total_time {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;

    color: var(--dark-gray);
}
